{% extends "plotbot/layout.html" %}
{% load static %}

{% block head_bottom %}
<style>

/* mobile first */

html{
	background:#cce;
}

.toolset{
	background-color:#ddd;
	margin:5px;
	min-width:400px;
	flex:1;
	border:1px solid #888;
	box-shadow:3px 3px 1px #888;
}
.toolset_title{
	font-family: 'Dosis', sans-serif;
	font-size:1.8rem;
	text-align:center;
	margin:0;
	background-color:#bbb;
	border-bottom:2px solid #aaa;
}
.toolset_content{
	margin:0;
}
.tools{
	width:100%;
	border-collapse:collapse;
}
.tool{
	border-bottom:1px solid #aaa;
}
.tool_label{
	padding-left:20px;
	font-weight:bold;
}
.tool_action{
	display:inline-block;
	float:right;
	padding-right:20px;
}


.spec_table_holder{
	margin-top:none;
	margin:20px;
	border:1px solid #888;
	border-radius:5px;
	overflow:hidden;
}
.spec_table{
	width:100%;
	border-collapse:collapse;
	background:white;
}
.spec_table_head{
	border-bottom:1px solid #888;
}
.spec_table_show{
 	text-align:center;
}
.spec_table_row{
	border-bottom:1px solid #ccc;
}


.spectra_buttons{
	display:flex;
	flex-direction:row;
}
.spec_button{
	flex:1;
	font-size:2rem;
	border:1px solid #888;
	border-radius:5px;
	margin:5px;
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
	text-align:center;
}
.spec_button:focus{
	outline:none;
}
#remove_spec{
	background-color:#e06b6b;
}
#remove_spec:hover{
	background-color:#e05c5c;
}

/* the big button */
#make_plot{
	font-family: 'Dosis', sans-serif;
	font-size:2rem;
	width:calc(100% - 40px);
	margin:10px 20px;
	border-radius:10px;
	background-color:#2c579e;
	color:#eee;
	cursor:pointer;
	border:1px solid #888;
	box-shadow:3px 3px 1px #888;
	min-width:400px;
}
#make_plot:focus{
	outline:none;
}
#make_plot:hover{
	background-color:#1f4077;
}
#make_plot:active{
	background-color:#002060;
}

.all_tools{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}


#add_spec{
	background-color:#87e588;
}
#add_spec:hover{
	background-color:#4dd653;
}


</style>
<link href="https://fonts.googleapis.com/css?family=Montserrat|Spectral+SC" rel="stylesheet">
{% endblock %}

{% block body %}
{% csrf_token %}
<form id="plot_form">
	<div class="all_tools">
		<div class="toolset" id="global_tools">
			<h2 class="toolset_title">Global Tools</h2>
			<div class="toolset_content">
				<table class="tools">
					<tr class="tool" id="fig_width">
						<td class="tool_label">Width</td>
						<td class="tool_action">
							<input name="fig_width" type=number step="any" value=16>
						</td>
					</tr>
					<tr class="tool" id="fig_height">
						<td class="tool_label">Height</td>
						<td class="tool_action">
							<input name="fig_height" type=number step="any" value=7>
						</td>
					</tr>
					<tr class="tool" id="title">
						<td class="tool_label">Title</td>
						<td class="tool_action">
							<input name="title">
						</td>
					</tr>
					<tr class="tool" id="show_title">
						<td class="tool_label">Show title</td>
						<td class="tool_action">
							<input type=checkbox name="show_title">
						</td>
					</tr>
					<tr class="tool" id="xlabel">
						<td class="tool_label">X-axis label</td>
						<td class="tool_action">
							<input name="xlabel">
						</td>
					</tr>
					<tr class="tool" id="show_xlabel">
						<td class="tool_label">Show x-axis label</td>
						<td class="tool_action">
							<input type=checkbox name="show_xlabel">
						</td>
					</tr>
					<tr class="tool" id="ylabel">
						<td class="tool_label">Y-axis label</td>
						<td class="tool_action">
							<input name="ylabel">
						</td>
					</tr>
					<tr class="tool" id="show_ylabel">
						<td class="tool_label">Show y-axis label</td>
						<td class="tool_action">
							<input type=checkbox name="show_ylabel">
						</td>
					</tr>
					<tr class="tool" id="xmin">
						<td class="tool_label">
							x<sub>min</sub>
						</td>
						<td class="tool_action">
							<input name="xmin" type=number step="any">
						</td>
					</tr>
					<tr class="tool" id="xmax">
						<td class="tool_label">
							x<sub>max</sub>
						</td>
						<td class="tool_action">
							<input name="xmax" type=number step="any">
						</td>
					</tr>
					<tr class="tool" id="ymin">
						<td class="tool_label">
							y<sub>min</sub>
						</td>
						<td class="tool_action">
							<input name="ymin" type=number step="any">
						</td>
					</tr>
					<tr class="tool" id="ymax">
						<td class="tool_label">
							y<sub>max</sub>
						</td>
						<td class="tool_action">
							<input name="ymax" type=number step="any">
						</td>
					</tr>
					<tr class="tool" id="show_legend">
						<td class="tool_label">Show legend</td>
						<td class="tool_action">
							<input type=checkbox name="show_legend">
						</td>
					</tr>
					<tr class="tool" id="legend_location">
						<td class="tool_label">Legend location</td>
						<td class="tool_action">
							<select name="legend_location">
								<option value=0>Top right</option>
								<option value=1>Top left</option>
								<option value=2>Bottom left</option>
								<option value=3>Bottom right</option>
							</select>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="toolset" id="spectra_tools">
			<h2 class="toolset_title">Spectra Tools</h2>
			<div class="toolset_content">
				<!-- list of current spectra -->
				<div class="spec_table_holder">
					<table class="spec_table">
						<thead class="spec_table_head">
							<tr>
								<th>Name</th>
								<th>Show</th>
							</tr>
						</thead>
						<tbody id="working_set_tbody">
							{% for spec in spec_list %}
							<tr class="spec_table_row">
								<td>{{spec}}</td>
								<td class="spec_table_show"><input type=checkbox checked></td>
							</tr>
							{% empty %}
							<tr><td>No spectra found in database</td><td></td><td></td></tr>
							{% endfor %}
						</tbody>
					</table>
				</div>

				<!-- buttons (add / remove) -->
				<!--
				<div class="spectra_buttons">
					<label class="spec_button" id="add_spec">
					    Add
					</label>

					<button class="spec_button" id="remove_spec">Remove</button>
				</div>
			-->

				<!-- tools associated with currently-selected spectrum -->
				<table class="tools">
					<tr class="tool" id="include_in_plot">
						<td class="tool_label">Show</td>
						<td class="tool_action">
							<input name="include_in_plot" type=checkbox>
						</td>
					</tr>
					<tr class="tool" id="include_in_legend">
						<td class="tool_label">Include in legend</td>
						<td class="tool_action">
							<input name="include_in_legend" type=checkbox>
						</td>
					</tr>
					<tr class="tool" id="legend_name">
						<td class="tool_label">Legend name</td>
						<td class="tool_action">
							<input name="legend_name">
						</td>
					</tr>
					<tr class="tool" id="line_width">
						<td class="tool_label">Line width</td>
						<td class="tool_action">
							<input name="line_width" type=number min="0" step="any">
						</td>
					</tr>
					<tr class="tool" id="color">
						<td class="tool_label">Color</td>
						<td class="tool_action">
							<input name="color" type=color value="#7ac7ff">
						</td>
					</tr>
					<tr class="tool" id="opacity">
						<td class="tool_label">Opacity</td>
						<td class="tool_action">
							<input name="opacity" type=number min="0" max="1" step="any">
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<button id="make_plot">Make the plot!</button>
</form>

<!-- image / plot window (height is set by javascript on update) -->
<style>
#plot_holder{
	margin:5px;
	height:50vh; /* default */
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#plot_placeholder{
	text-align:center;
	font-size:2rem;
}
.loading_text{
	margin:0;
}
</style>
<div class="toolset" id="plot_holder">
	<div id="plot_placeholder" style="display:none;"><img src={% static "plotbot/loading.gif" %} /><p class="loading_text">Loading...</p></div>
</div>

<script>

// this is to handle the working set
var working_set = [];

// spec item is going to be an object with properties, an output-row-html function (to tbody row html), and an output-config-html function (to settings item html)

// add the working set to the table, add local settings for each (hidden except for the one selected)
function displayWorkingSet(){
	// clear table and configs
	/*
	$('#working_set_tbody').html('');
	$('#local_configs').html('');
	*/

	for(var i = 0; i < working_set.length; i++){
		// append working_set[i].outputRowHtml() to tbody
		// append working_set[i].outputConfigHtml() to local_configs div
	}
}



// pass form data as json
$(function() {

	// This takes all settings and passes it over to the server, and then updates the plot holder with the image url returned by the server
	$('#plot_form').submit(function() {
		var form_data = $('#plot_form').serializeArray();
		to_json = {};
		for(var i = 0; i < form_data.length; i++)
			to_json[form_data[i]['name']] = form_data[i]['value'];
			string_data = JSON.stringify(to_json);
			// ajax the stringified data

			$('#plot_placeholder').show();
			$.get({
				url:'make_plot',
				data:to_json,
				success:function(response){
					$('#plot_placeholder').hide();
					//$('#plot_holder').html('');
					$('#plot_holder').css('background-image', 'url('+response['img_url']+')');
					fitPlotDiv();
				}
			});
		return false; // don't reload the page
	});

	// This handles uploading 1+ new spectra. It is also garbage
	/*
	$('#add_spec [type=file]').on('change',function(){
		// loop through files and add to FormData object
		// FUTURE: keep a list of hashes of all available spectra, and don't bother re-uploading if the spectra is already in the database (that checking will get build in this time as well, but only server-side; going client-side with hashes will make it faster)
		var formData = new FormData();
		for(var i = 0; i < this.files.length; i++){
			var curFile = this.files[i];
			formData.append('spectra',curFile);
		}
		// set up XMLHttpRequest to transfer files to server
		var xhr = new XMLHttpRequest();
		xhr.open('POST', 'upload_spec', true);

		// Set up a handler for when the request finishes.
		xhr.onload = function () {
		  if (xhr.status === 200) {
		    // File(s) uploaded.
		    console.log('File(s) uploaded!')
		  } else {
		    alert('An error occurred =(');
		  }
		};

		// Send the Data.
		xhr.send(formData);

	});
	*/

	// This adds a new set of SpecConfig settings (for cleanliness, settings are handled entirely in HTML until it's time to transfer them to the server)

	// This removes a spectrum from the working set, including removing its SpecConfig

});
// re-fit the plot div when the window is resized
$(window).on('resize',function(){
	fitPlotDiv();
});

// scales the height of the plot div so that it exactly fits the original plot dimensions with a fixed width
function fitPlotDiv(){
	var shown_width = $('#plot_holder').width();
	var img = new Image();
	img.src = $('#plot_holder').css('background-image').replace(/url\(|\)$|"/ig, '');
	$(img).on('load',function(){
		var shown_width = $('#plot_holder').width();
		var to_h = shown_width * img.height / img.width;
		$('#plot_holder').height(to_h);
	});
}
</script>

{% endblock %}

