{% extends "plotbot/layout.html" %}

{% block head_bottom %}
<style>
.title_strip{
	background-color:#ddd;
	box-shadow:0px 5px 5px #b8b8b8;
	padding:10px;
}
.spec_title{
	margin:0;
	text-align:center;
}
.flex_body{
	margin:10px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.spec_preview{
	margin:5px;
	flex:1;
	width: 600px;
	min-width: 60vw;
	max-width:100vw !important;
	min-height:50vh;
	border:1px solid #888;
	overflow:hidden;
	/*
	{% if spectrum.example_plot %}
	background-image: url({{spectrum.example_plot.image}});
	{% else %}
	background: #888;
	{% endif %}
	*/
}
.info_tools_div{
	display:flex;
	flex-direction:column;
	min-height:400px;
	margin:5px;
	flex:1;
	min-width:35vw;
	box-sizing:border-box;
	background:#ddd;
	border-radius:5px;
}
.small_screen_expand{
	width:100%;
}
.info_table{
	width:100%;
	border-collapse: collapse;
	margin-bottom:10px;
}
.info_table td{
	font-size:1.2rem;
	padding:10px;
	overflow-wrap: break-word;
	word-wrap: break-word;
}
.right_bar{
	border-right:1px solid #888;
}
/* grad button is copy-and-paste used in spec_browser.html */
.grad_button{
	border:1px solid #888;
	border-radius:5px;
	color:#444;
	/* color; start with grey, then try gradient */
	--main-bg-color: #aaa;
	--second-bg-color: #c0c0c0;
	background:var(--main-bg-color); /* without gradient */
	background: -webkit-linear-gradient(var(--main-bg-color), var(--second-bg-color)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(var(--main-bg-color), var(--second-bg-color)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(var(--main-bg-color), var(--second-bg-color)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(var(--main-bg-color), var(--second-bg-color)); /* Standard syntax */
}
.grad_button:hover{
	border-color:#444;
	color:#888;
}
.action_button{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	white-space:nowrap;
	cursor:pointer;
	margin:5px;
	height:3rem;
	font-size:2rem;
}
.expand{
	flex:1;
}

</style>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% endblock %}

{% block body %}
<div class="title_strip">
	<h2 class="spec_title">
		{{spectrum.name}}
	</h2>
</div>
<div class="flex_body">
	<div class="spec_preview" id="spec_preview">
		<!-- this is where the spectrum plot will go -->
	</div>
	<div class="info_tools_div">
		<table class="info_table">
			<tr>
				<td class="right_bar">Name</td>
				<td>{{spectrum.name}}</td>
			</tr>
			<tr>
				<td class="right_bar">Wavelength</td>
				<td>{% if spectrum.wavelength != -1 %}{{spectrum.wavelength}}{% else %}Not listed{% endif %}</td>
			</tr>
			<tr>
				<td class="right_bar">Added</td>
				<td>{{spectrum.timestamp}}</td>
			</tr>
			<tr>
				<td class="right_bar">Info</td>
				<td>{{spectrum.description}}</td>
			</tr>
		</table>
		<div class="expand"></div>
		<div class="grad_button action_button" id="download_csv_button"><span class="button_label">Download CSV</span></div>
		<div class="grad_button action_button" id="download_spc_button"><span class="button_label">Download SPC</span></div>
		<div class="grad_button action_button" id="new_plot_button"><span class="button_label">Start New Plot</span></div>
		<div class="grad_button action_button" id="bookmark_button"><span class="button_label">Bookmark</span></div>
	</div>
</div>

<script>
// use plotly.js to plot the data
plot_div = document.getElementById('spec_preview');
var points = {{spec_data}};
var data = {
	x: points[0],
	y: points[1]
}
var layout = {
	margin: {
		l: 40,
		r: 20,
		t: 20,
		b: 30
	}
};

Plotly.plot(plot_div, [data], layout);

// resize plot on window resize
$(window).on('resize',function(){
	Plotly.Plots.resize(plot_div);
});

// make the buttons do things
$('#download_csv_button').click(function(){
	alert('CSV downloads are not yet supported');
})
$('#download_spc_button').click(function(){
	alert('SPC downloads are not yet supported');
})
$('#new_plot_button').click(function(){
	alert('Start New Plot is not yet supported');
})
$('#bookmark_button').click(function(){
	alert('Bookmarking is not yet supported');
})
// set initial height of spec preview based on ratio of example_plot

</script>

{% endblock %}