{% extends "plotbot/layout.html" %}

{% block head_bottom %}
<style>
.list_block{
	margin:20px;
	background:#ddd;
	border:1px solid #bbb;
	display:block;
	padding:5px;
	border-radius:5px;
	max-height:50vh;
	overflow-y:scroll;
}
.list_title{
	margin:0;
	text-align:center;
	border-bottom:2px solid #aaa;
}

.list{
	width:100%;
	display:flex;
	flex-direction:column;
}
.spec_link{
	text-decoration:none;
	color:#444;
}
.spec_button{
	margin:5px;
	padding:5px;
	background:#ccc;
	border: 1px solid #aaa;
	border-radius:5px;
}
.spec_button:hover{
	background:#bbb;
	border:1px solid #444;
}
.spec_title{}
.spec_time{
	float:right;
}

</style>
{% endblock %}

{% block body %}

<div class="list_block">
	<h2 class="list_title">All Spectra</h2>
		<div class="list">
		{% for spec in spec_list %}
		<a class="spec_link" href="{% url 'spectrum' spec.spec_id %}">
			<div class="spec_button">
				<span class="spec_title">{{spec}}</span>
				<span class="spec_time">{{spec.timestamp}}</span>
			</div>
		</a>
		{% endfor %}
	</div>
</div>


{% endblock %}