<!doctype html>
<html lang="en">

<head>

	<!-- meta -->
	<title>¡Vamos en un Viaje!</title>
	<!-- favicon -->


	<!-- jQuery -->
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<!-- not using jquery ui at the moment
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css"></link>
	-->

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Asap|Ubuntu" rel="stylesheet">

	<style>
	/* styles go here */
	</style>
	{% block head %}
	{% endblock %}

</head>

<body>

{% block body %}

{% endblock %}

</body>
</html>