{% extends "gg/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}Submit new planting{% endblock %}

{% block headbottom %}
<!-- these scripts are to use the django admin calendar widget -->
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

<!-- openlayers -->
<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>

<style>
#form_table{
	border-collapse: collapse;
	width: 80%;
	margin: auto;
	margin-top: 40px;
}
#form_submit{
	display: block;
	margin:auto;
	font-family: Cabin, sans-serif;
	font-size: 1.5rem;
	background-color: #c0e0c0;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	cursor: pointer;
	transition: all .3s;
	padding: 5px 20px;
}
#form_submit:hover{
	background-color: #a0c0a0;
}
#map{
	height: 50vh;
	width: 80%;
	margin: auto;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	background-color: #a0a0a0;
}
.spacer{
	height: 5vh;
}
#coords_error{
	color: red;
	display: none;
	text-align:center;
}

/* django form styling */
#form_table tr:not(:last-child){
	border-bottom: 1px solid #d8d8d8;
	margin: 20px;
}
#form_table th{
	float: left;
	font-size: 1.2rem;
}
#form_table td{
	padding: 10px;
	float: right;
	min-width: 30%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 1.2rem;
}
#form_table label{
	font-weight: normal;
}
#form_table input{
	flex: 1;
}
#form_table textarea{
	flex: 1;
}
#form_table select{
	margin: 0px 3px;
}

/* django AdminDateTime widget styling */
.datetimeshortcuts a{
	text-decoration: none;
	color: #4b5f7f;
	padding: 3px;
	font-family: Open Sans, sans-serif;
	font-size: .88rem;
}
</style>

{{ form.media }}

{% endblock %}

{% block pagetitle %}Submit a new planting{% endblock %}
{% block pagedesc %}
To submit or register or whatever a new planting, click on where it is, as close as you can get, in the map, and then fill out the rest of the form.
{% endblock %}

{% block body %}
<div class="map" id="map"></div>
<form action="{% url 'gg:submit' %}" method="POST" onsubmit="return checkCoords()">
	{% csrf_token %}
		<div id="coords_error">
		<h4>Click the location of the planting to submit</h4>
	</div>
	<table id="form_table">
		{{ form.as_table }}
		{% for hidden_field in form.hidden_fields %}
		    {{ hidden_field.as_table }}
		{% endfor %}
	</table>
	<input id="form_submit" type=submit value="Submit">
</form>
<div class="spacer"></div>


<script>
function checkCoords(){
	if(document.getElementById('id_latitude').value && document.getElementById('id_longitude').value){
		return true;
	}
	else{
		// display error message and stop submit
		document.getElementById('coords_error').style.display = 'block';
		return false;
	}
}


var fill = new ol.style.Fill({color: '#88ff99'});
var stroke = new ol.style.Stroke({color: '#404040'});

var pointStyle = new ol.style.Style({
	image: new ol.style.RegularShape({
		fill: fill,
		stroke: stroke,
		points: 50,
		radius: 5,
	})
});

// map stuff	
var outdoors_layer = new ol.layer.Tile({
	source: new ol.source.XYZ({
		url: 'https://api.mapbox.com/styles/v1/jason-angell/cjg2552nr2cq92slut41cd4s4/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiamFzb24tYW5nZWxsIiwiYSI6Ii1qMHNUQzQifQ.BVj6iyfU1r7ttO79X676Ng'
	})
});
var satellite_layer = new ol.layer.Tile({
	source: new ol.source.XYZ({
		url: 'https://api.mapbox.com/styles/v1/jason-angell/cjg256o3f095y2rqjxxkxjyql/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiamFzb24tYW5nZWxsIiwiYSI6Ii1qMHNUQzQifQ.BVj6iyfU1r7ttO79X676Ng'
	})
});
var label_sat_layer = new ol.layer.Tile({
	source: new ol.source.XYZ({
		url: 'https://api.mapbox.com/styles/v1/jason-angell/cjg2578as03q22smnhzbfl6rm/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoiamFzb24tYW5nZWxsIiwiYSI6Ii1qMHNUQzQifQ.BVj6iyfU1r7ttO79X676Ng'
	})
});

var fill = new ol.style.Fill({color: '#28e224'});
var stroke = new ol.style.Stroke({
	color: '#9b5c30',
	width: 1.5,
});

var pointStyle = new ol.style.Style({
	image: new ol.style.RegularShape({
		fill: fill,
		stroke: stroke,
		points: 50,
		radius: 10,
	})
});

var point_layer = new ol.layer.Vector({
	source: new ol.source.Vector(),
});

var user_loc = {'lat':{{location.lat}}, 'lon':{{location.lon}}};

var map = new ol.Map({
	target: 'map',
	layers: [
		outdoors_layer,
		point_layer,
	],	// TODO: layer switching
	view: new ol.View({
		center: ol.proj.fromLonLat([user_loc.lon, user_loc.lat]),
		zoom: 12
	})
});
var curPoint = null; // format: [lon, lat]

var marker = new ol.Overlay({
	positioning: 'center-center',
  	element: document.getElementById('marker'),
});

//map.addOverlay(marker);

map.on('singleclick', function(evt){
	// remove all features in point_layer
	point_layer.getSource().clear();
	// add point to point_layer at evt
	point_layer.getSource().addFeature(new ol.Feature(new ol.geom.Point(evt.coordinate)));
	point_layer.getSource().getFeatures()[0].setStyle(pointStyle);

	curPoint = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
	// set the hidden coordinate fields in the form
	document.getElementById('id_latitude').value = curPoint[1];
	document.getElementById('id_longitude').value = curPoint[0];
	// hide the 'coordinates unselected' error if it is showing
	document.getElementById('coords_error').style.display = 'none';
});

</script>
{% endblock %}