/* mobile first */
html{
	background:#cce;
}

/* tools */

.toolset{
	background-color:#ddd;
	/*min-width:300px;*/
	max-height:40vh;
	overflow-y:scroll;
	flex:1;
	border-left:1px solid #a0a0a0;
	border-bottom:1px solid #a0a0a0;
}
.toolset_title{
	font-family: 'Titillium Web', sans-serif;
	font-size:1.1rem;
	text-align:center;
	margin:0;
	background-color:#c8c8c8;
	border-bottom:1px solid #aaa;
}
.toolset_content{
	margin:0;
}
/* applied in javascript-based html generation */
.tool{
	border-bottom:1px solid #aaa;
}
.tool_action{
	display:inline-block;
	float:right;
	padding-right:20px;
}

/* spec list */

.spec_table_holder{
	margin-top:none;
	margin:20px;
	border:1px solid #888;
	border-radius:5px;
	overflow:hidden;
}
.spec_table{
	width:100%;
	border-collapse:collapse;
	background:white;
}
.spec_table_head{
	border-bottom:1px solid #888;
	display:table;
	width:100%;
	table-layout:fixed;
}
.spec_table_body{
	display:block;
	max-height:100px;
	overflow-y:auto;
}
.spec_table_row{
	display:table;
	width:100%;
	table-layout:fixed;
	border-top:1px solid #ccc;
}
.spec_row_name{
	overflow:auto;
}
.spec_row_color{
	width:20%;
}
.spec_row_show{
	width:20%;
 	text-align:center;
}

/* preprocessing */

/* the div containing a single preprocess */
.single_preproc{
	width: 95%;
	margin: 5px auto;
	background-color: #f8f8f8;
	border:1px solid #bbb;
	border-radius: 5px;
	overflow:hidden;
}

/* title of that div */
.preproc_name{
	font-weight:bold;
	text-align:center;
	margin:0;
	border-bottom:1px solid #ccc;
}
.preproc_name:hover{
	background-color:#eaeaea;
}
.table_expanded{
}

.collapser{
	cursor:pointer;
}
.collapser:hover{
}
.running_preproc{
	font-style:bold;
	background-color:#d8d8ff;
}
.running_preproc:hover{
	background-color:#d0d0f8;
}

/* preprocess args table */
.preproc_table{
	width:100%;
}


/* selected vs unselected row actions */
.unselected_row{
	transition: background-color .5s ease
}
.unselected_row:hover{
	cursor:pointer;
	background-color:rgba(122,199,255,.5);
}
.selected_row{
	background-color:#7ac7ff;
	font-weight:bold;
}

/* spec configs that are showing or hidden (only shows 1 at a time, in the same space) */
.showing_config{}
.hidden_config{
	display:none;
}

.spec_button{
	flex:1;
	font-size:2rem;
	border:1px solid #888;
	border-radius:5px;
	margin:5px;
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
	text-align:center;
}
.spec_button:focus{
	outline:none;
}

/* add and remove spec rows */
#add_spec{
	background-color: #77ee77;
}
#remove_spec{
	background-color: #ffb2b2;
}

#plot_holder{
	min-height:55vh; /* default */
	flex:1;
}
.loading_text{
	margin:0;
}


/* modal window */
.modal_bg{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.7);
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	z-index:11000;
}
.modal{
	display:flex;
	flex-direction:column;
	justify-content:center;
	background:#bbb;
	border-radius:5px;
	overflow:hidden;
	min-width:70vw;
}
.modal_title{
	text-align:center;
	width:100%;
	background:#999;
	padding:5px;
	margin-top:0;
	margin-bottom:0;
}
#modal_spec_name{
	min-width:15rem;
}
.modal_content{
	padding: 20px;
}
#cancel_modal{
	margin:5px;
	float:right;
}
.tab{
	display:inline-block;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #888;
	border-bottom:none;
	background:#bbb;
	cursor:pointer;
}
.tab:hover{
	background:#ccc;
}
.selected_tab{
	font-weight:bold;
	background:#ddd;
}
.selected_tab:hover{
	background:#ddd;
	cursor:default;
}
.modal_subtitle{
	margin: 5px;
}
.modal_option{
	background:#ddd;
	border:1px solid #888;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding:10px;
	position:relative;
}
/* this one starts hidden */
#modal_db{
	display:none;
}

.db_table_holder{
	position:relative;
	overflow:hidden;
	border-radius:5px;
	border:1px solid #888;
}


#filter_loading{
	display:none;
	position:absolute;
	background:rgba(100,100,100,.5);
	width:100%;
	height:100%;
	text-align:center;
}
.database_table{
	width:100%;
	border-collapse:collapse;
}

#modal_db_thead{
	display:block;
	width:100%;
	background-color:#444;
	color:#eee;
}
#modal_db_tbody{
	display:block;
	width:calc(100% - 2px);
	max-height:50vh;
	overflow:auto;
}


.modal_db_headrow{
	display:table;
	width:100%;
	cursor:pointer;
	border-bottom:1px solid #ccc;
	text-align:center;
}
.modal_db_row{
	display:table;
	width:100%;
	cursor:pointer;
	background:#fff;
	border-bottom:1px solid #ccc;
	text-align:center;
}
.modal_db_row:hover{
	background:#ccc;
}
.modal_db_id{
	width:10%;
}
.modal_db_name{
}
.modal_db_source{
	width:20%;
}
.modal_db_wv{
	width:20%;
}

.filter{
	margin:5px;
	display:inline-block;
}