/* mobile first */
html{
	background:#cce;
}

/* tab time!! */

.all_tools{
	display:flex;		display: -webkit-flex;
	flex-direction:row;	-webkit-flex-direction: row;
	height:40vh;
}
.toolbar{
	background: #f0f0f0;
	width:100%;
	flex:2;					-webkit-flex:2;
	display:flex;			display: -webkit-flex;
	flex-direction:column;	-webkit-flex-direction: column;
}

.tabs{
	list-style: none;
	flex-shrink:0;					-webkit-flex-shrink:0;
	padding:0;
	margin:0;
	display:flex;					display: -webkit-flex;
	flex-direction:row;				-webkit-flex-direction: row;
	justify-content: flex-start;	-webkit-justify-content: flex-start;
}
.tab{
	flex:1;
	display:flex;			display: -webkit-flex;
	justify-content:center;	-webkit-justify-content: center;
	align-items:center;		-webkit-align-items: center;
	white-space: nowrap;	-webkit-white-space: nowrap;

	padding:3px;
	background:#d8d8d8;

	font-family: 'Roboto', sans-serif;
	font-size:1.2rem;

	border:1px solid #808080;
	border-left:none;
	
	cursor:pointer;
	transition: .2s all; -webkit-transition: .2s all;
}
.tab:first-child{
	border-left: 1px solid #808080;
}
.tab:not(.selected_tab):hover{
	background:#e8e8e8;
}
.selected_tab{
	background:#f0f0f0;
	cursor:default;
	border-bottom-color:rgba(0,0,0,0);
}
.toolset_container{
	border: 1px solid #808080;
	border-top:0px;
	flex:1;							-webkit-flex: 1;
	display:flex;					-webkit-display: flex;
	flex-direction:column;			-webkit-flex-direction: column;
	margin:0;
}
.toolset{
	flex:1;
	display:flex;		display: -webkit-flex;
	flex-direction:row;	-webkit-flex-direction: row;
	/* this hides the toolset, which corresponds to a tab, until its tab is selected */
	display:none;		-webkit-display: none;
}
.showing_toolset{
	display: flex;		-webkit-display: flex;
}
.spec_config{
	flex: 1;				-webkit-flex: 1;
	display:flex;			-webkit-display: flex;
	flex-direction: row;	-webkit-flex-direction: row;
}
.tools_col{
	flex:1;				-webkit-flex: 1;
	padding:10px;
}

.setting{
	display:flex;					display: -webkit-flex;
	flex-direction:row;				-webkit-flex-direction: row;
	justify-content: space-between;	-webkit-justify-content: space-between;
	align-items:center;				-webkit-align-items: center;
	width:100%;
	margin:5px;
	white-space: nowrap;			-webkit-white-space: nowrap;
}
.right{
	float:right;
}
.range{
	width:50%;
	float:right;
	display:flex;					display: -webkit-flex;
	flex-direction:row;				-webkit-flex-direction: row;
	justify-content:space-between;	-webkit-justify-content: space-between;
	align-items:center;				-webkit-align-items: center;
}
input[type=number]{
	width:5em;
}

.col_title{
	margin: 0 auto; /* 0 for top & bottom, auto for sides */
	font-family: 'Roboto', sans-serif;
}

.spec_list{
	flex: 1;					-webkit-flex: 1;
	background-color: #f0f0f0;
	border: 1px solid #808080;
	border-left:0;
	font-family: 'Roboto', sans-serif;
}

.table_row{
	width:100%;
	display: flex;				-webkit-display: flex;
	flex-direction: row;		-webkit-flex-direction: row;
	flex-grow: 0;				-webkit-flex-grow: 0;
	align-items:center;
	border-collapse: collapse;
	border-bottom: 1px solid #c0c0c0;
}
.table_row:not(.head_row):last-child{
	border-bottom:0;
}
.head_row{
	height:23px;
	padding:3px;
	border-bottom: 1px solid #a0a0a0;
	background: #e0e0e0;
}

.unselected_row{
	transition: background-color .2s ease
}
.unselected_row:hover{
	cursor:pointer;
	background-color:rgba(128,128,128,.15);
}
.selected_row{
	background-color:rgba(128,128,128,.3);
}

.text{
	flex: 3;				-webkit-flex: 3;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-right:10px;
	padding-left: 10px;
	width:100px;
}
.color{
	flex:2;					-webkit-flex: 2;
}
.color_patch{
	height:1rem;
	border:1px solid #a0a0a0;
	margin:1px;
}
.color_patch{
	width:50px;
}
.showing{
	flex:1;					-webkit-flex: 1;
	width:50px;
	margin-right:10px;
}

.showing_config{
	display:flex;
}
.hidden_config{
	display:none;
}

/* preprocessing */
.preprocess_list{
	height:100%;
	min-width:80%;
	margin:auto;
	display: flex;					-webkit-display: flex;
	flex-direction: column;			-webkit-flex-direction: column;
	justify-content: space-around;	-webkit-justify-content: space-around;
	align-items: center;			-webkit-align-items: center;
}
.preproc_selector{
	width:100%;
	border: 1px solid #c0c0c0;
	border-radius:3px;
	cursor: pointer;
}
.selected_preproc{
	background: #fafafa;
}
.preproc_name{
	margin: 0;
	padding:5px;
	text-align:center;
	font-family: 'Roboto', sans-serif;
}
.preproc_settings{
	display:none;
}
.selected_preproc_settings{
	display:block;
}

/*	
.preprocesses{

}
.preprocess{

}

.preproc_name{
	font-family: 'Roboto', sans-serif;
	text-align:center;
	margin:0;
	border-bottom: 1px solid #c0c0c0;
}
.preprocess:first-child .preproc_name{
	border-top: 1px solid #c0c0c0;
}
.preproc_name:hover{
}

.collapser{
	cursor:pointer;
}
.collapser:hover{
	background-color:#e0e0e0;
}
.running_preproc{
	font-style:bold;
	background-color:#d8d8ff;
}
.running_preproc:hover{
	background-color:#d0d0f8;
}
*/































/*
.toolset{
	background-color:#ddd;
	margin:5px;
	min-width:400px;
	flex:1;
	border:1px solid #808080;
	box-shadow:3px 3px 1px #808080;
	overflow:scroll;
}
*/
.toolset_title{
	font-family: 'Roboto', sans-serif;
	font-size:1.4rem;
	text-align:center;
	margin:0;
	background-color:#bbb;
	border-bottom:1px solid #909090;
}
.toolset_content{
	margin:0;
}
.tools_table{
	width:100%;
	border-collapse:collapse;
}
/* applied in javascript-based html generation */
/*.tool{
	border-bottom:1px solid #aaa;
}
*/
.tool_label{
	padding-left:20px;
	font-weight:bold;
}
.tool_action{
	display:inline-block;
	float:right;
	padding-right:20px;
}

/* spec list */

.spec_table_holder{
	margin-top:none;
	margin:20px;
	border:1px solid #888;
	border-radius:2px;
	overflow:hidden;
}
.spec_table{
	width:100%;
	border-collapse:collapse;
	background:white;
}
.spec_table_head{
	border-bottom:1px solid #888;
	display:table;
	width:100%;
	table-layout:fixed;
}
.spec_table_body{
	display:block;
	max-height:100px;
	overflow-y:auto;
}
.spec_table_row{
	display:table;
	width:100%;
	table-layout:fixed;
	border-top:1px solid #ccc;
}
.spec_table_row:first-child{
	border-top:0px;
}
.spec_row_name{
	overflow:auto;
}
.spec_row_color{
	width:20%;
}
.spec_row_show{
	width:20%;
 	text-align:center;
}

/* preprocessing */

/* the div containing a single preprocess */
/*
.single_preproc{
	width: 95%;
	margin: 5px auto;
	background-color: #f8f8f8;
	border:1px solid #bbb;
	border-radius: 5px;
	overflow:hidden;
}
*/

/* title of that div */
.table_expanded{
}

.collapser{
	cursor:pointer;
}
.collapser:hover{
}
.running_preproc{
	font-style:bold;
	background-color:#d8d8ff;
}
.running_preproc:hover{
	background-color:#d0d0f8;
}

/* preprocess args table */
.preproc_table{
	width:100%;
}


/* selected vs unselected row actions */


/* spec configs that are showing or hidden (only shows 1 at a time, in the same space) */

.spec_button{
	flex:1;
	font-size:2rem;
	border:1px solid #888;
	border-radius:5px;
	margin:5px;
	font-family: 'Open Sans', sans-serif;
	cursor:pointer;
	text-align:center;
}
.spec_button:focus{
	outline:none;
}

/* add and remove spec rows */
#add_spec{
	background-color: #77ee77;
}
#remove_spec{
	background-color: #ffb2b2;
}

#plot_holder{
	margin:5px;
	height:50vh; /* default */
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#plot_placeholder{
	text-align:center;
	font-size:2rem;
}
.loading_text{
	margin:0;
}


/* modal window */
.modal_bg{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(0,0,0,.7);
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	z-index:11000;
}
.modal{
	display:flex;
	flex-direction:column;
	justify-content:center;
	background:#bbb;
	border-radius:5px;
	overflow:hidden;
	min-width:70vw;
}
.modal_title{
	text-align:center;
	width:100%;
	background:#999;
	padding:5px;
	margin-top:0;
	margin-bottom:0;
}
#modal_spec_name{
	min-width:15rem;
}
.modal_content{
	padding: 20px;
}
#cancel_modal{
	margin:5px;
	float:right;
}


.modal_subtitle{
	margin: 5px;
}
.modal_option{
	background:#ddd;
	border:1px solid #888;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding:10px;
	position:relative;
}
/* this one starts hidden */
#modal_db{
	display:none;
}

.db_table_holder{
	position:relative;
	overflow:hidden;
	border-radius:5px;
	border:1px solid #888;
}


#filter_loading{
	display:none;
	position:absolute;
	background:rgba(100,100,100,.5);
	width:100%;
	height:100%;
	text-align:center;
}
.database_table{
	width:100%;
	border-collapse:collapse;
}

#modal_db_thead{
	display:block;
	width:100%;
	background-color:#444;
	color:#eee;
}
#modal_db_tbody{
	display:block;
	width:calc(100% - 2px);
	max-height:50vh;
	overflow:auto;
}


.modal_db_headrow{
	display:table;
	width:100%;
	cursor:pointer;
	border-bottom:1px solid #ccc;
	text-align:center;
}
.modal_db_row{
	display:table;
	width:100%;
	cursor:pointer;
	background:#fff;
	border-bottom:1px solid #ccc;
	text-align:center;
}
.modal_db_row:hover{
	background:#ccc;
}
.modal_db_id{
	width:10%;
}
.modal_db_name{
}
.modal_db_source{
	width:20%;
}
.modal_db_wv{
	width:20%;
}

.filter{
	margin:5px;
	display:inline-block;
}