<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Album a Day</title>

	<!-- jQuery -->
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" ></script>
	<link href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Asap+Condensed" rel="stylesheet">

<style>

body{
	font-family:"Asap Condensed",sans-serif;
}
.center{
	text-align:center;
}
#today{
	width:80%;
	display:block;
	margin:auto;
}
.album{
	width:100%;
}
.cover{
	width:300px;
	height:300px;
}
.cover_img{
	width:100%;
}
#content{
	display:none;
}

</style>

</head>

<body>

	<h3 class="center">This is the album a day project.</h3>
	<h4 id="subtitle" class="center">Who are you?</h4>
	<form id="name" class="center">
		<input id="nameinput"/>
	</form>

	<div id="content">
		<div id="today">
			<h4>Here's what we've got queued up today</h4>
			<div class="album">
				<div class="cover"><img class="cover_img" src="{{today.cover.url}}" alt="{{today.album}}"/></div>
				<div class="details">
					<p>{{ today.album }}</p>
					<p>{{ today.artist }}</p>
					<p>{{ today.description }}</p>
				</div>
			</div>
		</div>
		<div id="history">
			<h4>Need to catch up?</h4>
		</div>
	</div>

</body>

<script>
$("#name").submit(function(){
	var name = $('#nameinput').val();
	$.ajax({
		type:'POST',
		url:'/albumaday/checkname/',
		data:{'name':name},
		success: function(valid){
			$('#subtitle').animate({'opacity':0},1000,function(){
					$('#name').fadeOut(1500);
					if(valid == 1){
						$('#subtitle').html('cool');
					}
					else{
						$('#subtitle').html('nah');
					}
					$('#subtitle').animate({'opacity':1},1500,function(){$('#content').fadeIn()});
				});
			}
	});
	$('#subtitle').animate({'opacity':0},2000,function(){
		$('#name').fadeOut(2000);
	});
	return false;
});
</script>

</html>